allow radio cnd:binder call;
allow radio hal_datafactory_hwservice:hwservice_manager find;
allow radio gpuservice:binder { call };
allow radio system_app_data_file:dir { getattr };
allow radio vendor_qcom_ims_prop:file { read open getattr };
