allow system_app sysfs_zram:dir search;
allow system_app sysfs_zram:file { getattr open read };
allow system_app wificond:binder call;
get_prop(system_app, camera_prop)
set_prop(system_app, camera_prop)
